---

tower:
  use_token: False
  description_on: False
  password: PASSWORD
  verify_ssl: true
  format: human
  insecure: true
  oauth_token: 
  verbose: False
  color: True
  username: USERNAME
  host: tower.hostname.com
  certificate: 

host_credentials: 'path to ssh_public_key_file'

satellite_server: 'https://satellite.example.com'
satellite_username: 'username'
satellite_password: 'password'
