{
  "name": "OpenShift Password Survey",
  "description": "OpenShift Password Survey",
  "spec": [
    {
      "question_name": "OpenShift Password",
      "question_description": "OpenShift Password",
      "required": true,
      "type": "password",
      "variable": "k8s_password",
      "min": 0,
      "max": 32,
      "default": "",
      "choices": "",
      "new_question": true
    }
  ]
}
