{
  "name": "ServiceNow Survey",
  "description": "ServiceNow Survey",
  "spec": [
    {
      "question_name": "ServiceNow Password",
      "question_description": "ServiceNow Password",
      "required": true,
      "type": "password",
      "variable": "snow.password",
      "min": 0,
      "max": 32,
      "default": "{{ snow.password }}",
      "choices": "",
      "new_question": true
    },
    {
      "question_name": "ServiceNow Instance ID",
      "question_description": "ServiceNow Instance ID",
      "required": true,
      "type": "text",
      "variable": "snow.instance",
      "min": 4,
      "max": 32,
      "default": "{{ snow.instance }}",
      "choices": "",
      "new_question": true
    }
  ]
}
